@charset "utf-8";
/* CSS Document */
*, *:before, *:after{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 { font-family: 'Ubuntu', sans-serif; color:#333333; text-transform:none; font-weight: 700; }
p, h1, h2, h3, h4, h5, h6, ul, ol, li { word-wrap:break-word; }

h1{ font-size:32px; margin: 0; }
h2{ font-size:28px; margin: 0; }
h3{ font-size:24px; margin: 0; }
h4{ font-size:20px; margin: 0; }
h5{ font-size:17px; margin: 0; }
h6{ font-size:15px; margin: 0; }

p, ul, ol, li, address, a { font-size:14px; font-family: "basicSansNarrow", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight:normal; color:#666666; line-height: 24px; margin: 0; }
img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
html, body { min-height:100vh;}
body {
    font-family: "basicSansNarrow", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:normal;
    font-size:18px;
    line-height:24px;
    color: #999999;
    overflow-x:hidden;
}

/**************************************************/
/*               General Styles                  */
/**************************************************/

body {
    background-color:#666666;
    min-height:100%;
    position:relative;
}
body * a {
    text-decoration:none !important;
    color:#52cc58;
}
body * a:hover {
    color:#0bcc15;
}
body * a:focus {
    outline:none;
    color:#0bcc15;
}
body * ul {
    list-style:none;
    padding-left:0;
}
body * img {
    max-width:100%;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:#999999;
    font-size:16px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "basicSansNarrow", "Helvetica Neue", Helvetica, Arial, sans-serif;

}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#999999;
    opacity:  1;
    font-size:16px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "basicSansNarrow", "Helvetica Neue", Helvetica, Arial, sans-serif;

}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#999999;
    opacity:  1;
    font-size:16px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "basicSansNarrow", "Helvetica Neue", Helvetica, Arial, sans-serif;

}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#999999;
    font-size:16px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "basicSansNarrow", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/**************************************************/
/*              Common Classes                    */
/**************************************************/
.full-width { float:left; width:100%;}
.act_table { display:table;}
.act_tablecell { display:table-cell;}
.ver_align_middle { vertical-align:middle;}
.float_l { float:left;}
.transition-child * { transition:all 0.3s linear; -webkit-transition:all 0.3s linear; -moz-transition:all 0.3s linear; }
.main_button{ padding: 9px 25px; background-color: #52cc58; border-radius: 5px; color: #ffffff; text-transform: uppercase; vertical-align: middle; transition:all 0.4s linear; -webkit-transition:all 0.4s linear; -moz-transition:all 0.4s linear; font-size: 20px; line-height:19px; border: 2px solid #52cc58; display:inline-block; }
.main_button:hover, .main_button:focus{ background-color: #ffffff; color: #52cc58; }
.main_button.photo_btn{ position: relative; }
.main_button.photo_btn input[type="file"]{ position: absolute; top: 0; right: 0; bottom: 0; left: 0; opacity: 0; cursor: pointer; }
.main_button.photo_btn::after{ content: ""; display: inline-block; width: 29px; height: 23px; background-image: url(../images/photo_icon.png); vertical-align: middle; margin-left: 10px; }
.main_button.btn-disable{ background-color: #e3e3e3; color: #acacac; border-color: #e3e3e3; }
.main_button.btn-disable:hover, .main_button.btn-disable:focus{ background-color: #e3e3e3; color: #acacac; }

.prv_Tbtn{ margin-right: 10px; background-image: url(../images/arrow_left.png); }
.nxt_Tbtn{ background-image: url(../images/arrow_right.png); }
.nxt_Tbtn, .prv_Tbtn{ background-color: #e3e3e3; border-radius: 5px; width: 40px; height: 40px; vertical-align: middle; transition:all 0.4s linear; -webkit-transition:all 0.4s linear; -moz-transition:all 0.4s linear; line-height:19px; border: 2px solid #e3e3e3; display:inline-block;  background-position: center center; background-repeat: no-repeat; }
/*.nxt_Tbtn::after{ content: ""; display: inline-block; width: 12px; height: 18px; background-image: url(../images/arrow_right.png); vertical-align: middle; background-position: center center; }
.prv_Tbtn::after{ content: ""; display: inline-block; width: 12px; height: 18px; background-image: url(../images/arrow_right.png); vertical-align: middle; background-repeat: no-repeat;  background-position: center center; }*/

.padTB_20 { padding-top: 20px;  padding-bottom:30px;}
.padTB_100 { padding:100px 0;}
.padTB_60 { padding: 60px 0; }
.padTB_45 { padding: 45px 0; }

.bg_white { background-color:#ffffff;}
.bg_grey { background-color:#58585a;}

.txt_whiteAll *{ color: #ffffff; }
/*------ Custom Bootstrap Classes -------*/
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-5ths {
    width: 20%;
    float: left;
}
/**************************************************/
/*                     Header                     */
/**************************************************/
.header_section .top_menu{ border-bottom: 2px solid #67ae3d; }
.header_section .top_menu, .header_section .act_table{ width: 100%; padding: 12px 0; }
.header_section .top_menu ul{ margin: 0; }
.header_section .top_menu ul li{ display: inline-block; vertical-align: middle; }
.header_section .top_menu ul li a{ display: inline-block; font-size: 17px; color: #000000; }
.header_section .top_menu ul li:first-child{ padding-left: 0; }
.header_section .top_menu ul li:last-child{ padding-right: 0; }
.header_section .top_menu ul li::after{ content: "|"; display: inline-block; padding: 0 14px; color: #000000; }
.header_section .top_menu ul li:last-child::after{ display: none; }
.header_section .top_menu ul li a:hover, .footer_section .footer_top ul li a:focus, .footer_section .footer_top ul li.active a{ color: #52cc58; }
.header_section .act_tablecell{ width: 50%; vertical-align: middle; }
.header_section .call_sec{ text-align: right; }
.header_section .call_sec span, .header_section .call_sec strong{ display: block; }
.header_section .call_sec strong{ text-transform: uppercase; color: #A6A6A8; font-size: 12px; }
.header_section .call_sec span{ text-transform: capitalize; color: #5D5D5F; font-size: 16px; font-weight: 400; }
.header_section .call_sec h4 a{ color: #F87D15; font-size: 29px; font-weight: 700; line-height: 36px; }


/*------------------------------ Main ------------------------------*/
.onlineForm_section h1{ margin-bottom: 55px; }
.onlineForm_section .text_contain p{ margin-bottom: 12px; font-weight: 300; }
.onlineForm_section .text_contain p:last-child{ margin-bottom: 30px; }
/**************************************************/
/*                     Form Styles                */
/**************************************************/
.margT_40{ margin-top: 40px; }

.form_sec{ padding: 50px; border: 1px solid #dee3dd; }
.form_sec h3.section_head{ text-transform: uppercase; margin-bottom: 45px; font-size: 24px; position: relative; }
.form_sec h3.section_head .nav_blk{ position: absolute; right: 0; top: -6px; }
.form_sec h4{ margin-bottom: 20px; font-size: 16px; color: #444444; font-weight: 700; }
.form_sec input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]),
.form_sec select, .form_sec textarea{ border: 1px solid #dee3dd; border-radius: 5px; font-size: 16px; padding: 3px 12px; color: #999999; margin-bottom: 10px; background-color: #ffffff; height: 40px; }
.form_sec select{ background-image: url(../images/select_bg.png); background-repeat: no-repeat; -webkit-appearance: none; -moz-appearance: none; appearance: none; background-position: 99% 0px;  background-color: #f8f8f8; }
.input_date{ background-image: url(../images/date_icon.png); background-repeat: no-repeat; -webkit-appearance: none; -moz-appearance: none; appearance: none; background-position: 97% 11px;  background-color: #ffffff; }
.form_sec textarea{ height: 198px; padding: 6px 12px; }
.form_sec input[type="submit"]{ width: 150px; background-color: #52cc58; color: #ffffff; text-align: center; text-transform: uppercase; font-size: 20px; height: 41px; margin-top: 20px; border: 2px solid #52cc58; border-radius: 5px; margin:0; }
.form_sec input[type="submit"]:hover, .form_sec input[type="submit"]:focus{ background-color: #ffffff; }
.form_sec input[type="checkbox"]{ margin-right: 12px; }

/* Hide the browser's default checkbox */
.form_sec input[type="radio"] {
    position: relative;
    opacity: 0;
    right: 0;
    z-index: 1;
    margin: 0;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    margin-right: 15px;
    cursor: pointer;
}
.form_sec .col-op label{ position: relative; padding: 0; font-size: 18px; }
/* Create a custom checkbox */
.form_sec .optmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #ffffff;
    border: 1px solid #dee3dd;
    border-radius: 3px;
}

/* On mouse-over, add a grey background color */
.form_sec .col-op:hover input ~ .optmark {
    background-color: #ddd;

}

/* When the checkbox is checked, add a blue background */
.form_sec .col-op input:checked ~ .optmark {
    background-color: #52cc58;
    border: 1px solid #52cc58;
    color: #3d4046;
}

/* Create the checkmark/indicator (hidden when not checked) */
.form_sec .optmark::after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.form_sec .col-op input:checked ~ .optmark::after {
    display: block;
}

/* Style the checkmark/indicator */
.form_sec .col-op .optmark::after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.form_sec .nav_sec{ margin-top: 50px; }

.info_sec{ border: 1px solid #cccccc; border-radius: 8px; margin-bottom: 20px; }
.info_block{ padding: 16px 20px; }
.info_block p{ margin: 0; padding-left: 50px; background-image: url(../images/info_icon.png); background-repeat: no-repeat; background-position: left center; }
/*----- Bootstrap styles overwrite -----*/
.form_sec .form-control{ -webkit-box-shadow: none; box-shadow: none; }
.form_sec .form-inline .form-control{ display: inline-block; }
.form_sec .form-control:focus{ border-color: #52cc58 !important; outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82, 204, 88, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82, 204, 88, 0.6); }

.form_sec .form-group label{ margin-bottom: 10px; font-size: 15px; color: #999999; }
.form_sec .form-inline label{ padding-left: 20px; }
.form_sec .form-inline label, .form_sec .form-inline input{ margin: 0 !important; }
.privacy_agreement label{ color: #222222; font-weight: bold; font-size: 15px; }
/**************************************************/
/*              Drag and Drop                     */
/**************************************************/
.file-upload-sec p, .file-upload-sec img{ margin-bottom: 20px; }
.file-upload-sec .photo_out{ display: inline-block; position: absolute; top: 95px; left: 20px; z-index: 2; }
.file-upload-sec .photo_out img{ width: 120px; height: auto; }
.wrapper { width: 100%; height: 100%; position: relative; }
.drop { width: 96%; height: 215px; border: 2px dashed #DADFE3; background-color: #fafafa; border-radius: 15px; overflow: hidden; text-align: center; background: white;
    -webkit-transition: all 0.5s ease-out; transition: all 0.5s ease-out; margin: auto; position: relative; /*position: absolute; top: 0; left: 0; bottom: 0;
  right: 0;*/
    /*&:hover
     * cursor: pointer
     * background: #f5f5f5 */
}
.drop:hover, .drop:focus{ border: 2px solid #52cc58 !important; }
.drop .cont { width: 100%; color: #8E99A5; -webkit-transition: all 0.5s ease-out; transition: all 0.5s ease-out; margin: auto; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%,-50%); transform: translate(-50%,-50%); }
.drop .cont .tit { font-size: 18px; margin-bottom: 12px; }
.drop .cont img {  }
.drop .cont .browse { margin: 20px auto; width: 200px; color: #8c8c8c; padding: 0px 20px; border-radius: 5px; background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#ededed)); background: linear-gradient(#f5f5f5, #ededed); border: 1px solid #e8e8e8; font-size: 12px; font-weight: 400;   }
.drop input { width: 100%; height: 100%; cursor: pointer; background: red; opacity: 0; margin: auto; position: absolute; top: 0; left: 0; bottom: 0; right: 0; }
#list1, #list2, #list3, #list4 {
    width: 100%;
    text-align: left;
    position: absolute;
    left: 0;
    top: 0;
}
#list1 .thumb, #list2 .thumb, #list3 .thumb, #list4 .thumb {
    height: 75px;
    border: 1px solid #323a44;
    margin: 10px 5px 0 0;
}

.irs-with-grid{ margin-top: 10px; }
/**************************************************/
/*            Content Section Styles              */
/**************************************************/
label{ font-size: 14px; }
.content_section{ border-bottom: 1px solid #cccccc; margin-bottom: 25px; }
.content_section p{ font-weight: 400; margin-bottom: 25px; }
.content_section h3{ font-size: 16px; text-transform: uppercase; margin-bottom: 70px; }
.content_section.using_listStyle ul{ margin-bottom: 25px; margin-left: 15px; }
.content_section.using_listStyle ul li{ list-style-type: none; position: relative; font-size: 14px; color: #666666; line-height: 24px; padding-left: 38px; vertical-align: middle; display: block; }
.content_section.using_listStyle ul li::before {
    content: '\f00c';
    font: normal normal normal 14px/1 FontAwesome;
    font-weight: normal;
    font-size: 12px;
    font-weight: bold;
    color: #f77d2d;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    line-height: 24px;
    left: 0;
}

#profileForm fieldset { display: none; }

#profileForm fieldset .form-group { margin-bottom:30px;}
.photo_btn + span { font-size:26px; padding-left:20px; display:inline-block; vertical-align:middle;}

/**************************************************/
/*                 Footer Section                 */
/**************************************************/
.footer_section .footer_top ul{ margin: 0; }
.footer_section .footer_top ul li{ display: inline-block; vertical-align: middle; }
.footer_section .footer_top ul li:first-child{ padding-left: 0; }
.footer_section .footer_top ul li:last-child{ padding-right: 0; }
.footer_section .footer_top ul li::after{ content: "|"; display: inline-block; padding: 0 14px; color: #cdcdcd; }
.footer_section .footer_top ul li:last-child::after{ display: none; }
.footer_section .footer_top ul li a{ display: inline-block; font-size: 15px; color: #cdcdcd; font-weight: 300; }
.footer_section .footer_top ul li a:hover, .footer_section .footer_top ul li a:focus, .footer_section .footer_top ul li.active a{ color: #ffffff; }


